---
// @ts-nocheck 
import GContent from '../../components/GContent.astro'
import NavButton from '../../components/NavButton/index.js'

let title = 'About me | Mertcan Erbaşı';
let description = "Mertcan Erbaşı | Portfolio"
---
    
<GContent title={title} description={description}>
    <div class="max-w-none lg:max-w-6xl w-full">
    <p class="text-xl">
        ✋ Hi.
        <br/>
        <br/>
        My adventure with Istanbul Technical University, started in September 2015, ended with my graduation in June 2020. I now have a B.S.E. in <span class="font-bold">Industrial Engineering</span>.
        <br/>
        <br/>
        My interest in coding started when I joined the Turkish Airlines in 2016 as a part-time clerk. Of course I was always interested in computers and technology in general, however my experience in Turkish Airlines increased that interest in me. So with this motivation, I've started (in hopes of coding a new software from scratch) learning <span class="font-bold">Python</span> first, then moved onto <span class="font-bold">Java</span>. In 6 months, we've started using my first applications and ML models. Later that year, I kept training myself about Python and created various models. But at some point, I discovered that I was enjoying in mobile development much more rather than ML. Thus, I got back into Mobile Development in 2022.
        <br/>
        <br/>
        Other than Python, classes I took at university helped me with languages and softwares like <span class="font-bold">SQL and Java</span>.
        <br/>
        In the long-term intership I had done in R&D department at <span class="font-bold">Koctas</span>, and the professional worklife in there after the internship, I had the chance to train myself in database management and Agile work method as a Data Engineer.
    </p>
    </div>
    <div class="mt-12">
        <NavButton path="/en/projects" title="Projects" />
    </div>
</GContent>