---
// @ts-nocheck 
import GContent from '../../components/GContent.astro'
import NavButton from '../../components/NavButton/index.tsx'
import Project from '../../components/Project/index.tsx'

let title = 'Projects | Mertcan Erbaşı';
let description = "Mertcan Erbaşı | Portfolio Projects"

const {pathname} = Astro.request.url

let allPosts = Astro.fetchContent('./project/*.md');
---
<GContent title={title} description={description}>
    <div class="flex flex-wrap w-full">
        {allPosts.map((project, idx) => <Project {...project} idx={idx} />)}
    </div>
    <div class="mt-12">
        <NavButton path="/en/experience" title="Experience" />
    </div>
</GContent>