---
// @ts-nocheck 
import GContent from '../../components/GContent.astro'
import NavButton from '../../components/NavButton/index.js'

let title = 'Hakkımda | Mertcan Erbaşı';
let description = "Mertcan Erbaşı | Portfolio"

---
<GContent title={title} description={description}>
    <div class="max-w-none lg:max-w-6xl w-full">
    <p class="text-xl">
        ✋ Tekrardan selam.
        <br/>
        <br/>
        2015 Eylül'de başlayan İstanbul Teknik Üniversitesi <span class="font-bold">Endüstri Mühendisliği</span> maceram, 2020 Haziran'da mezuniyetimle bitti.
        <br/>
        <br/>
        Kodlamaya ilgim, üniversite yıllarımda kendimi geliştirmek için başladığım Türk Hava Yolları part-time dönemimde başladı. Burada yapılan çalışmaları gördükçe kendimi veri bilimi alanında <span class="font-bold">Python</span> ile geliştirmeye başladım. Sonrasında <span class="font-bold">Java-Kotlin</span> ile mobil uygulamalar geliştirmenin bana daha fazla haz verdiğini ve daha yetenekli olduğumu görmem ile bu tarafa yöneldim. Şu anda aktif olarak <span class="font-bold">Flutter/Dart</span> ile hem IOS hem Android uygulamalar geliştirmekteyim.
        <br/>
        <br/>
        Bunlara ek olarak <span class="font-bold">İTÜ</span>'de okurken Bilgisayar Mühendisliği fakültesinden aldığım ortak dersler ile kendimi yazılım alanında daha fazla geliştirme fırsatı buldum. Bu sayede bitirme projemi Android - ML tabanlı (JAVA) yapma fırsatı buldum. Ek olarak, SQL ve NoSQL veri tabanları ile çalışma fırsatı bulduğum için <span class="font-bold">MongoDB-Azure DWH</span> bu alanda da kendimi geliştirdim.
        <br/><span class="font-bold">Koçtaş</span>'da yapmış olduğum uzun dönem stajımda ve sonrasında devam eden profesyonel iş hayatımda, Data Engineer olarak görev almam ile, veri tabanları üzerine daha çok bilgi kazanma fırsatı buldum. Şu anda Koçtaş'ta Mobil Developer olarak görev almaktayım.
    </p>
    </div>
    <div class="mt-12">
        <NavButton path="/tr/projects" title="Projelerim" />
    </div>
</GContent>