---
// @ts-nocheck 
import GContent from '../../components/GContent.astro'
import PastExperienceTimelineItem from '../../components/Bits/PastExperienceTimelineItem.tsx'

let title = 'Deneyimlerim | Mertcan Erbaşı';
let description = "Mertcan Erbaşı | Portfolio Deneyimlerim"

const pastExpList = [
    {
        title: "Turkish Airlines",
        date: "Ağustos 2018 - Şubat 2019",
        image: "/assets/past-experiences/thy.jpeg",
        description: "Turkish Airlines - Data Science bölümünde uzun dönem stajımı gerçekleştirdim.\n\nBulunduğum zaman boyunca NiFi'da Twitter API üzerinden yorum analizi yapmıştım."
    },
    {
        title: "Otokoç Otomotiv",
        date: "Mart 2019 - Eylül 2019",
        image: "/assets/past-experiences/otokoc.jpeg",
        description: "Burada IK departmanında, Python ile RPA süreçleri gerçekleştirdim"
    },
    {
        title: "Koçtaş A.Ş.",
        date: "Kasım 2019 - Eylül 2020",
        image: "/assets/past-experiences/koctas.jpeg",
        description: "Holding içi geçiş kolaylığı sağlanması ve AR-GE departmanının kurulmuş olması sebebiyle, kendimi geliştirmek adına Koçtaş'a geçiş yaptım. Burada raporlama, ML, database yönetimi, Agile takım çalışması gibi alanlarda çalışma fırsatı buldum"

    },
    {
        title: "Koçtaş A.Ş.",
        date: "Ekim 2020 - Devam Ediyor",
        image: "/assets/past-experiences/koctas.jpeg",
        description: "Part time sürecim sonrasında, Data Engineer olarak görev almaya başladım. 2022 itibari ile Mobil Developer olarak görevime devam ediyorum."
    }
]
---
<GContent title={title} description={description}>
    <div class="relative container mx-auto px-6 flex flex-col space-y-8">
        <div
            class="absolute z-0 w-2 h-full bg-white shadow-md inset-0 left-17 md:mx-auto md:right-0 md:left-0"
        ></div>
        {pastExpList.reverse().map((past, idx) => <PastExperienceTimelineItem {...past} idx={idx} />)}
    </div>
</GContent>